<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace扫描接口-->
<mapper namespace="com.mage.crm.dao.SaleChanceDao">
<sql id="sale_chance_column">
    id,customer_name as customerName,chance_source as chanceSource,cgjl,overview,link_man as linkMan,
    link_phone as linkPhone,description,create_man as createMan,assign_man as assignMan,
    assign_time as assignTime,state,dev_result as devResult,is_valid as isValid,create_date as createDate,
    update_date as updateDate
</sql>
    <!--分页查询数据，模糊查询-->
<select id="querySaleChancesByParams" parameterType="saleChanceQuery" resultType="saleChance">
    SELECT <include refid="sale_chance_column"/>
        FROM t_sale_chance
            <where>
                is_valid=1
                <if test="createMan !=null and createMan != ''">
                    and create_man like concat('%',#{createMan},'%')
                </if>
                <if test="customerName !=null and customerName != ''">
                    and customer_name like concat('%',#{customerName},'%')
                </if>
                <if test="state !=null and state !=''">
                    and state = #{state}
                </if>
                <if test="createDate !=null and createDate != ''">
                    <![CDATA[
                        and create_date <= #{createDate}
                    ]]>
                </if>
            </where>
</select>

    <!--添加营销机会-->
    <insert id="insert">
       insert into t_sale_chance(chance_source,customer_name,cgjl,overview,link_man,link_phone,description,
       create_man,assign_man,assign_time,state,dev_result,is_valid,create_date,update_date)
       values(#{chanceSource},#{customerName},#{cgjl},#{overview},#{linkMan},#{linkPhone},#{description},
       #{createMan},#{assignMan},#{assignTime},#{state},#{devResult},#{isValid},#{createDate},#{updateDate})
    </insert>

    <!--修改营销机会-->
    <update id="update">
       update t_sale_chance set chance_source=#{chanceSource},customer_name=#{customerName},
       cgjl=#{cgjl},overview=#{overview},link_man=#{linkMan},link_phone=#{linkPhone},
       description=#{description},assign_man=#{assignMan},assign_time=#{assignTime},
       state=#{state},update_date=#{updateDate} where id=#{id} and is_valid=1
    </update>

    <!--删除营销机会-->
    <update id="delete">
        update t_sale_chance set is_valid=0 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--查看用户信息-->
    <select id="querySaleChanceById" parameterType="string" resultType="saleChance">
        SELECT <include refid="sale_chance_column"/>
        FROM t_sale_chance WHERE id=#{id} AND  is_valid=1
    </select>

    <!--查看用户信息-->
    <select id="querySaleChancesById" parameterType="int" resultType="saleChance">
        SELECT <include refid="sale_chance_column"/>
        FROM t_sale_chance WHERE id=#{id} AND  is_valid=1
    </select>

    <update id="updateSaleChanceDevResult" >
        UPDATE t_sale_chance SET  dev_result=#{dev},update_date=now() WHERE id=#{id }
    </update>
</mapper>